html {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.25em;
  font-weight: 400;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.pageTitle {
  font-weight: 500;
  font-size: 20px;
}

.container {
  max-width: 920px;
  height: 100%;
  margin: 0 auto;
}

.pageContent {
  margin-top: 24px;
  width: 100%;
  border-radius: 10px;
  min-height: 233px;
  background: #FFFFFF;
  padding: 24px 40px;
}
@media (max-width: 1000px) {
  .container {
    max-width: 80%;
  }
}

@media screen and (max-width: 450px)
{
  .container{
    max-width: 328px;
  }
}


